.card {
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
    margin: 10px auto;
    padding: 10px;
    width: 40%;
    min-width: 350px;
    position: relative;
}

.card_light {
    background-color: #3f3f3f;
    border-radius: 12px;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
    margin: 10px auto;
    padding: 10px;
    width: 40%;
    min-width: 350px;
    position: relative;
}